#box1{
    border: 2px blue solid;
    background-color:yellow;
    margin-bottom: 130px
}

#box2{
    border: 2px red;
    background-color: aqua;
    margin-top: 100px

}

#box3{
    border: 2px green;
    background-color:pink
}